<div id="metrica-dashboard">
<p>
    Below you can see recent and aggregated statistics for your wiki.
    You can use calendar below to select range end date.
</p>

<div class="row">
    <div class="col-md-12">
        <!--<div id="pik"></div>
        <input type="hidden" id="pik_field" />-->
        
        <label for="start_date">Start date:</label>
        <input type="text" id="start_date" />
        
        <label for="end_date">End date:</label>
        <input type="text" id="end_date" />
        
        <button id="btn_date" class="btn btn-primary">Filter</button>
        <button id="btn_date_clear" class="btn btn-default">Reset</button>
        
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default panel-with-graph">
            <div class="panel-heading">
                <h3 class="panel-title">Views</h3>
            </div>
            <div class="panel-body">
                <canvas id="chartViews"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default panel-with-graph">
            <div class="panel-heading">
                <h3 class="panel-title">Edits</h3>
            </div>
            <div class="panel-body">
                <canvas id="chartEdits"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default panel-with-graph">
            <div class="panel-heading">
                <h3 class="panel-title">Most viewed pages </h3>
            </div>
            <div class="panel-body" id="most-viewed-pages">
                <ul><li>Loading..</li></ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default panel-with-graph">
            <div class="panel-heading">
                <h3 class="panel-title">Most edited pages </h3>
            </div>
            <div class="panel-body" id="most-edited-pages">
                <ul><li>Loading..</li></ul>
            </div>
        </div>
    </div>
</div>

</div>